.home__container {
  min-height: 100vh;
 
  background: linear-gradient(
    to right bottom,
    #14181c,
    #121317,
    #0f0e11,
    #090708,
    #000000
  );

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  color: white;
  background-size: contain;
}
