.project-card-container {
  background-color: whitesmoke;
  margin: 20px;
}
.project-card {
  position: relative;
  height: 31.25rem;
  width: 18.75rem;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.project-image {
  position: relative;
  height: 60%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.project-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease-in-out;
}
.project-image:hover img {
  transform: scale(1.2);
}
.project-details {
  position: absolute;
  height: 40%;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}
.project-title {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.project-description {
  margin: 0;
  text-align: justify;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f8f8f8;
  height: calc(100% - 4.3rem);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.project-description::-webkit-scrollbar {
  width: 6px;
}
.project-description::-webkit-scrollbar-track {
  background-color: #f8f8f8;
}
.project-description::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
.project-links {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.project-links a {
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  background-color: #0074d9;
}
.project-links a:hover {
  background-color: #2d89e5;
}
.project-links a:nth-child(2) {
  background-color: #2ecc40;
}
