.navbar__menu-icon {
  display: none;
}

.navbar__logo-container {
  margin-left: 1rem;
}
.navbar__nav-bar img {
  width: 6rem;
}

.navbar__logo-container:hover {
  transform: scale(110%);
  filter: contrast(120%);
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 183, 255, 0.973));
}
.navbar__nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.909);
}

.navbar__navlink-container {
  flex-basis: 50%;
  height: 100%;
  /* display: flex; */
}
.navbar__nav-menu {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.navbar__nav-item {
  list-style: none;

  cursor: pointer;
}

.navbar__nav-links {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar__nav-links:hover {
  color: rgb(0, 132, 255);
}

.navbar__social-media {
  margin: 0.5rem;
}
.navbar__social-media a {
  padding: 0.5rem;
}

@media screen and (max-width: 570px) {
  .navbar__nav-bar {
    justify-content: space-around;
  }
  .navbar__menu-icon {
    display: inline-block;
    color: white;
  }
  .navbar__navlink-container {
    display: none;
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    top: 5.1rem;
    z-index: 100;
    overflow: scroll;

    transition: all 0.3s ease-out; /* add a transition effect */
  }

  .navbar__nav-menu {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .navbar__social-media {
    display: none;
  }
  .navbar__active {
    display: block !important;
  }
}
