.TechStack__outerContainer {
  /* background: #f2f4f8; */
  display: flex;
  justify-content: space-around;

  align-items: center;
  flex-wrap: wrap;
  /*   height: 100vh; */
  font-family: "Open Sans";
  margin: 1rem 0.25rem;
  /* padding: 1rem 1.2rem; */
}
